<br><br>

<button type="button" class="btn btn-success btn-block" *ngIf="!editBillBool" (click)="toggleNewBill()" data-toggle="button">New bill</button>

<br>

<form (ngSubmit)="createBill(billForm)" *ngIf="newBill" #billForm="ngForm" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" #billName="ngModel" id="name" placeholder="Enter bill name" [(ngModel)]="name" name="name" minlength="3" maxlength="20" required>

    <div *ngIf="billName.invalid && (billName.dirty || billName.touched)" class="alert alert-danger">
      <p *ngIf="billName.errors?.required">Bill name field can't be empty</p>
      <p *ngIf="billName.errors?.minlength">Bill name must be between 3 and 20 characters</p>
    </div>
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <div class="input-group">
      <span class="input-group-addon">£</span>
      <input type="number" class="form-control" #billAmount="ngModel" id="amount" placeholder="Enter bill amount" [(ngModel)]="amount" name="amount" min="0" required>
    </div>

    <div *ngIf="billAmount.invalid && (billAmount.dirty || billAmount.touched)" class="alert alert-danger">
      <p *ngIf="billAmount.errors?.required">Bill amount field can't be empty</p>
      <!-- <p *ngIf="billAmount?.value <= 0">Bill amount must be greater than 0</p> -->
    </div>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" #billDate="ngModel" id="date" [(ngModel)]="date" name="date" required>

    <div *ngIf="billDate.invalid && (billDate.dirty || billDate.touched)" class="alert alert-danger">
      <p *ngIf="billDate.errors?.required">Bill date field can't be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label for="period">Period</label>
    <select class="form-control" #billPeriod="ngModel" id="period" [(ngModel)]="period" name="period" required>
      <option value=1>Monthly</option>
      <option value=3>Quarterly</option>
      <option value=6>Biannually</option>
      <option value=12>Annually</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary pull-right" [disabled]="!billForm.valid">Create bill</button>

  <br><br><br><br>
</form>

<form (ngSubmit)="editBillFunc(editBillForm)" *ngIf="editBillBool" #editBillForm="ngForm" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" #editBillName="ngModel" id="name" placeholder="Enter bill name" [(ngModel)]="editBill.name" name="name" minlength="3" maxlength="20" required>

    <div *ngIf="editBillName.invalid && (editBillName.dirty || editBillName.touched)" class="alert alert-danger">
      <p *ngIf="editBillName.errors?.required">Bill name field can't be empty</p>
      <p *ngIf="editBillName.errors?.minlength">Bill name must be between 3 and 20 characters</p>
    </div>
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <div class="input-group">
      <span class="input-group-addon">£</span>
      <input type="number" class="form-control" #editBillAmount="ngModel" id="amount" placeholder="Enter bill amount" [(ngModel)]="editBill.amount" name="amount" min="0" required>
    </div>

    <div *ngIf="editBillAmount.invalid && (editBillAmount.dirty || editBillAmount.touched)" class="alert alert-danger">
      <p *ngIf="editBillAmount.errors?.required">Bill amount field can't be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" #editBillDate="ngModel" id="date" [(ngModel)]="editBill.nextDate" name="date" required>

    <div *ngIf="editBillDate.invalid && (editBillDate.dirty || editBillDate.touched)" class="alert alert-danger">
      <p *ngIf="editBillDate.errors?.required">Bill date field can't be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label for="period">Period</label>
    <select class="form-control" #editBillPeriod="ngModel" id="period" [(ngModel)]="editBill.period" name="period" required>
      <option value=1>Monthly</option>
      <option value=3>Quarterly</option>
      <option value=6>Biannually</option>
      <option value=12>Annually</option>
    </select>
  </div>

  <div class="form-group">
    <label for="payer">Payer</label>
    <select class="form-control" #editBillPayer="ngModel" id="payer" [(ngModel)]="editBill.tenant.email" name="payer" required>
      <ng-container *ngFor="let tenant of house.tenants">
        <option value="{{ tenant.email }}">{{ tenant.name }}</option>
      </ng-container>
    </select>
  </div>

  <div class="pull-right">
    <button type="submit" class="btn btn-default" (click)="editBillBool=false">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!editBillForm.valid">Edit bill</button>
  </div>

  <br><br><br><br>
</form>

<div class="card col-sm-6" *ngFor="let bill of house?.bills.reverse()">
  <div class="card-shadow text-center" (click)="toggleEditBill(bill.id)">
    <!-- <button type="button" class="btn btn-block btn-sm btn-warning" (click)="toggleEditBill(bill.id)">Edit</button> -->
    <h2>{{ bill.name }}: {{ bill.amount | currency:'GBP':'symbol':'1.2' }}</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p><b>Payer:</b></p>
        <p>{{ bill.tenant.name }}</p>
      </div>
      <div class="col-sm-4">
        <p><b>Last payment:</b></p>
        <p>{{ bill.date | date:'longDate' }}</p>
      </div>
      <div class="col-sm-4">
        <p><b>Next payment:</b></p>
        <p>{{ bill.nextDate | date:'longDate' }}</p>
      </div>
    </div>
  </div>
  <br><br>
</div>
